<section class="user_info">
  <h1>
    <%= gravatar_for @user %>
    <%= link_to @user.name, @user %>
  </h1>
</section>

<p>location：<%= @user.location %></p>

<%= render 'shared/link', user: @user %>